html, body {
	height: 100%;
	margin: 0;
	padding:0;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 110px;/* must be the same as height of footer*/
}

footer {
	position: relative;
	margin-left: auto;
	margin-top: -100px; /*neg value of footer height*/
	height: 100px;
	clear: both;
	background: black;
	color: #fff;
}

footer a {
	text-decoration: none;
	color: #fff;
}

footer a:active {
	text-decoration: none;
}

footer p {
	margin: 30px auto 0 10px;
}

.f1 {
	margin-left: 100px;	
}

.f {
	float: left;
	height: 80px;
	width: 100px;
}

#social {
	margin: 30px auto 0 10px;
}
#social p {
	margin: 0 auto 0 10px;
}

/*opera fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

<!--[if !IE 7]>
	<style type="text/css">
		#wrap { display: table; height: 100% }
	</style>
<![endif]-->