#video-container {
	display:none;
	width: 800px;
	height: 500px;
	left: 250px;
	top: 80px;
	position: fixed;
	background: black;
	color: #fff;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#video-container a {
	text-decoration: none;
	color: #fff;
}

#video-container a:hover {
	color:#000;
}
#video-container h2 {
	float: left;
	margin-left: 10px;
}


p#close-vid{
	cursor: pointer;
	margin-left: 50px;
}
#top-vid-header {
	height: 60px;
	cursor: move;
	margin: 4px 4px 0 4px;
}
#top-vid-header:hover {
	background: #5D89E8;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#drag {
	float: left;
	margin-left: 150px;
}
#close-vid {
	float: right;
	margin-right: 10px;
}
#results-from-vid {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 780px;
	height: 400px;
}

#searchForm {
	/*margin-top:10px;*/
	display: none;
}
.hide-me {
	display: none;
}

#left-vid{
	margin-top:20px;
	width: 300px;
	float: left;
}

#videos_here {
	max-width:300px;
	float: right;
}


